body {
    max-width: 1900px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    /* padding: 15px; */
    color: #FFFFFF;
    /* margin-top: 5px; */
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    font-size: 16px;
    text-indent: 30px;
    text-transform: uppercase;
    margin-top: 5px;
    align-items: center;
    }

.text-left {
    font-size: 25px;
    margin-left: 35px;
}
.logo-text {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.red-word {
    font-size: 25px;
    color: #FF0000;
    text-transform: none;
    line-height: 12px;
}

.blue-word {
    font-size: 16px;
    color:  #14B9D5;
}
.zoom {
    background-color: black;
    padding: 26px 27px;
}

.background-img {
    background-image: url("../img/bg-towers.png");
    height:370px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bg-text {
    color: white;
    position: absolute;
    left:35%;
    bottom:25%;
    color: #FFFFFF;
    text-align: center;
}
h1 {font-size: 27px;}

.btn-Subscribe-Now   {
    font-size: 18px;
    margin-top: 40px;
    height: 55px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #89CA62;
    margin-right: 20px;
}

.btn-Best-Articles{
    font-size: 18px;
    margin-top: 40px;
    height: 55px;
    padding: 10px 30px;
    color: white;
    background-color: #14B9D5;
} 

h2 {
    padding: 49px 52px;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
}

.popular-post {
    background-color: #F2F2F2;
    display: flex;
    height: 1030px;
    justify-content: center;
}

.popular-img div{
    margin: 20px;
    text-align: center;
    color: #353A3D;
    font-size: 18px;
    
}

.popular-img p{
background-color: #FFFFFF;
padding: 12px;

}

.bg-mostpop-cli {
    margin-bottom: 50px;
    background-image: url("../img/parallax-bg\ \(1\).jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    height: 588px;
    /* background-attachment: fixed; */
}


.title-pop-cli {
    color: #FFFFFF;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    /* position: relative; */
    padding-top: 106px;
}
.line{
    background-color: #18B4CF;
    width: 60px;
    height: 3px;
    border: none;
    margin-top: 87px;
}

.pic-pop-cli {
    display: grid;
    grid-template-columns:  repeat(4, 280px);
    margin-top: 106px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.top-rate-pic {
    display: grid;
    grid-template-columns: repeat(7, 271px);
}


.hot-news-container {
    display: grid;
    grid-template:repeat(4, auto) / repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1160px;
    margin: 0 auto 50px auto;
}

.hot-news-item {
    background-color: #f9f7f7;
    text-decoration: none;
    color: #353a3d;
}

.news-type-a {
    grid-column: 1/span 3;
    display: inline-block;
}

.hot-news-item-type-a-img {
    width: 60%;
    vertical-align: middle;
}

.hot-news-item-type-a-description {
    display: inline-block;
    width: 39%;
    vertical-align: middle;
}


    .basic-item-text {
        margin: 20px;
        font-size: 14px;
        text-align: right;
        line-height: 1.5;
    }

    .basic-item-title {
        color: #353a3d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 20px;
    }


.img-full-width {
    width: 100%;
}


.news-type-b {
    grid-column: 1/span 2;
}

.news-type-c {
    grid-column: 3/span 2;
}

.news-type-d {
    grid-column: 2/span 3;
}

.text-right {
    text-align: right;
}

.footer {
    background-color: #1d2124;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1160px;
    height: 80px;
    margin: 0 auto;
    align-content: center;
}

.footer-text {
    margin-top: 8px;
    font-size: 13px;
    color: white;
}
.footer-logo {
    text-align: right;
}

.footer-logo-img {
    vertical-align: top;
}