@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.header {
    font-size: 0px;
    padding: 48px;
}
.header-menu li {
    text-transform: uppercase;
    font-size: 17px;
    margin: 25px;
    color: #FF0000;
    
}
.header-menu {
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  
}

a {
    color: #FF0000;
    text-decoration: none;
    
}

.background {
    height: 100vh;
    background: url("../img/pic1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.section {
    padding: 49px;
}

.title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    font-weight: bold;
    margin-bottom: 38px;
}
.section {
    font-family: "Lato", sans-serif;
    color: #373737;
}
.firstp {
    text-indent: 1em;
    font-size: 16px;
    margin-bottom: 28px;
    text-align: center;  
    line-height: 1.5em;

}
.secondp {
    text-align: center;
    line-height: 1.5em;
}
.button {
    display: flex;
    justify-content: center;
}
button {
    background-color: #FF0000;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    padding:18px 40px;
    border: none;
    width: auto;
    cursor:pointer;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
    margin-bottom: 50px;
}
footer {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}