body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    
}
.evil-theme {
    background-color: rgba(0, 0, 0, 0.95);
    width: 1280px;
    
    margin-left: auto;
    margin-right: auto;
    
    
}
.mda { 
    color: aquamarine;
}

.evil-theme .mda { 
    color: rgba(0, 255, 0, 1);
}

.evil-theme .ra {
    color: red;
}


.ra {
    color: black;
}

h1 {
    font-size: 50px;
    margin: 20px 20px;
}

a {
    text-decoration: none;
}

.word-ramda + td {
    background-color: #222F3A;
}

.top-menu {
    width: 1280px;
}

.td-width {
    width: 290px;
}

.top-menu > td{
    border-left: 1px solid white;
    padding: 20px 8px;
    background-color: #35444F;
    font-size: 20px;
    color: white;
   
    text-align:center;
    /* border-left: 1px solid #000; */
}

.evil-theme .top-menu > td{
    border-left: 2px solid black;
    font-weight: bold;
    padding: 20px 8px;
    background-color: gold;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    text-align:center;
}

    .last {
        text-align:left;
        padding-left: 20px;
    }
    .header-container {
        display: inline-block;
        display: flex;
    }

    .word-why {
        background-color: #DBDBDB;
        width: 250px;
        padding-left: 20px;
    }
    .evil-theme .word-why {
        background-color: rgb(255,140,0);
        width: 250px;
        padding-left: 20px;
    }

    .questions-list > li {
        padding-left: 20px ;
    }

    .aside-container {
        display: inline-block;
        display: flex;
        padding-top: 20px;
    }
    .questions-list {
        border: 1px solid black;
        width: 300px;
        height: 260px;
        /* margin-left: 20px; */
        font-size: 25px;
        /* padding-left: 20px; */
        padding-top: 10px;
       line-height: 50px;
       color: #495863;
    }

    .evil-theme .questions-list {
        border: 1px solid red;
        width: 300px;
        height: 260px;
        /* margin-left: 20px; */
        font-size: 25px;
        /* padding-left: 20px; */
        padding-top: 10px;
       line-height: 50px;
       color: white;
    }

    .ramda-img {
        border-radius: 30px;
        margin-left: 50px;
        border: 1px solid black;
        width: 940px;
        height: 500px;
        padding-top: 150px;
        padding-left: 320px;
        
    }

    .evil-theme .ramda-img{
        background-color:rgba(226, 9, 9, 0.911);
        border-radius: 30px;
        margin-left: 50px;
        border: 1px solid black;
        width: 940px;
        height: 500px;
        padding-top: 150px;
        padding-left: 320px;
        
    }

    img {
        width: 340px;
        height: 380px;
    }
  .main-text {
      font-size: 18px;
      margin-left: 305px;
      margin-top: 37px;
      margin-bottom: 100px;
      color: #2C2C2C;;
  }
  .evil-theme .main-text {
    font-size: 18px;
    margin-left: 305px;
    margin-top: 37px;
    margin-bottom: 100px;
    color: #ffffff;
}

 .p-space {
     padding-bottom: 34px;
 }

 .text-footer {
    display: inline-block;
    display: flex;
    justify-content:space-evenly;
   border-left: 1px solid white;
   padding: 20px 8px;
   background-color: #63696E;
   padding-left: 40px;
   text-align: center;
}

.evil-theme .text-footer {
    display: inline-block;
    display: flex;
    justify-content:space-evenly;
   border-left: 2px solid black;
   padding: 20px 8px;
   background-color: rgba(255, 255, 0, 0.6);
   color: #000000;
   font-weight: bold;
   padding-left: 40px;
   border-radius: 15px;
   text-align: center;
}

 footer {
     font-size: 24px;
     margin-bottom: 30px;
 }
 
.span2 {
    color: hsl(167, 45%, 51%);
    border-bottom: 1px solid hsl(167, 45%, 51%);
}
.evil-theme .span2 {
    color: hsl(0, 98%, 33%);
    border-bottom: 1px solid hsl(0, 98%, 33%);
}
.right {
    margin-left: 50px;
}

.btn-changer .top-menu td {
    width: 200px;
}

.btn-theme {
    width: 150px;
    font-size: 15px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    color:black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.76);
    /* color:rgb(47, 47, 226) */
}

.evil-theme .btn-theme {
    border: none;
    width: 200px;
    font-size: 15px;
    height: 30px;
    border-radius: 15px;
    color:black;
    font-weight: bold;
    background-color: rgb(5, 208, 235);
    /* color:rgb(47, 47, 226) */
}