body {
    width: 1366px;
}
.bg {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 768px;
    width: 1366px;
}

.logo-header {
    display: block;
    position: absolute;
    color: white;
    font-size: 29px;
    width: 140px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 21px;
    text-align: center;
    align-items: center;
    top: 51px;
    left: 141px;
    font-weight: 700;
}


.logo-header img {
    left: 0;
    position: absolute;
    top: 0;
}

.logo-header img.dva {
    opacity:0;filter:alpha(opacity=0);
}

.logo-header:hover img.dva  {
    opacity:1;filter:alpha(opacity=100);
}

/* .logo-header:hover img.raz, .logo-header img.raz:hover {
    opacity:0;filter:alpha(opacity=0);
} */


.logo-header:hover {
    color: #F26522;

}

.mail:hover, .phone:hover  {
color: #F26522;

}


.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5px;
    padding-left: 60px;
    vertical-align: center;
    text-align: left;
}

span {
    font-size: 18px;
}

.contacts {
    position: relative;
    text-align: right;
    color: white;
    font-size: 18px;
    line-height: 40px;
    top: 40px;
    left: 730px;
    width: 30%;
}


.phone, .mail {
    color:white;
    text-decoration: none;
 }


 .photo-set {
     position: absolute;
     top: 134px;
     left: 136px;
     display: grid;
     grid-template: repeat(2, 258px) / repeat(3, 295px);
     grid-gap: 60px;
     line-height: 30px;
     text-align: center;
 }
 .photo-set a {
     text-decoration: none;
     color: white;
     font-size: 18px;
     
 }

 footer {
     position: relative;
     font-size: 12px;
     color: white;
     text-align: center;
     top: 660px;
     right: 45px;
 }




.block-hover {
    bottom: -500px;
    position: absolute;
    width: 295px;
    background-color: #F26522;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-items: flex-end;
    justify-content: space-between; 
    font-size: 14px;
    color: white;
}

.active:hover .block-hover {
    bottom: 38px;
}
.active {
    overflow: hidden;
    position: relative;
    display: inline-block;
}


.arrow {
    margin-top: 36px;
    margin-right: 10px;
}

.price {
    padding-left: 15px;
    display: flex;
    flex-direction: column;  
    
}

.litle {
    font-size: 11px;
}


.arrow::after {
	content: '';
	width: 5px;
	display: inline-block;
	height: 5px;
	border-top: 2px solid white;
	border-right: 2px solid white;
    transform: rotate(45deg);
    margin-left: 10px;
}


.active:hover {
    color: #F26522;
}
/* .active:hover::after { 
    content: " ss";
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    background: #F26522;
    font-size: 11px;
    padding-right: 12px;
    text-align: right;
    line-height: 41px; 
    color: white; 
} */
    