body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 3000px;
    overflow:scroll;
}

.top-nav {
    position: absolute;
    width: 400px;
    right: 500px;
}
.menu-nav li {
    margin: 0 15px;
    font-size: 18px;
    /* width: 400px; */
    display: inline-block;
}

.menu-nav a {
    color: white;
    text-decoration: none;
}



.sign:hover {
    font-weight: bold;
    color: gold;
    transition-duration: 1.5s;
}

.create:hover {
    color:#3CB878 ;
    font-weight: bold;
    transition-duration: 1.5s;
    
}

.logo:hover {
    color: #01813F;
    transition-duration: 1s;
}

.imgnon svg:hover {
    fill: #01813F;
    color: #01813F;
    transition-duration: 1s;
}

.nav {
    display: inline-block;
    display: flex;
    border: 0px solid black;
    padding: 15px 50px 20px 79px; 
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.nav-text { 
    color: #FFFFFF;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    font-size: 15px;
    padding-left: 30px;
}

.imgnon svg{
    width: 30px;
    height: 30px;
    fill: white;
    color: white;
}

.log-sign:hover {
    cursor: pointer;
    color:#01813F;
    transition: 0.5s;
}


.log-in-text:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
    cursor: pointer;
}

.imgnon {
    margin-left: 920px;
    display: flex;
    align-items: right;
    width: 150px;
    justify-content: space-around;
}

.main-menu {
    display: flex;
    border: 1px solid white;
    background-color: white;
    width: 444px;
    height: 584px;
    margin: 50px auto;
    box-shadow: 0px 4px 18px 0px #000000;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    flex-direction: column;

}

.block-a {
    display: flex;
    width: 100%;
    font-size: 20px;
    color: #434343;
    margin-top: 31px;
}
.log-in-text {
    padding-left: 210px;
    font-size: 14px;
    color: #3CB878;
}

.block-a::before {
    content: "";
    display: flex;
    align-items: flex-start ;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    margin-right: 40px;
    margin-left: -1px;
}

.block-b {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    
}

.fb:hover {
    background-color:#022263;
    transition-duration: 1s;
}
.google:hover {
    background: #AB1F09;
    transition-duration: 1s;

}

.fb {
    border: 1px solid black;
    background-color: #305DB8;
    width: 160px;
    height: 48px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    margin-right: 4px;
}

.google {
    margin-left: 4px;
    border: 1px solid black;
    background-color: #DF4A32;
    width: 160px;
    height: 48px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
}

.block-b svg {
    fill: white;
    width: 35px;
    height: 24px;
    border-right: 1px solid rgba(0,0,0,0.1) ;
    margin-left: -17px;
    margin-right: -17px;
}


.line {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    color: #848484;
}

.line span {
    margin: 0 5px;
}

.input-block {
    padding: 16px 60px 1px 60px;
}
.forms input {
    width: 300px;
    height: 35px;
    border: 2px solid #F2F2F2;
    outline: none;
    line-height: 20px;
    padding-left: 20px;
    border-radius: 4px;
}

input::placeholder {
    color: #BEBEBE;
}

.forms input:focus {
    outline: none;
    border-color: rgb(31, 185, 190);
    box-shadow: 0px 3px 8px 0px #c0bebe;
}

.block {
    display: flex;
    margin: 10px 60px;
    align-items: center;
}

.checkbox-policy{
    width: 16px;
    height: 16px;
   margin-right: 8px;

}

.checkbox-block {
color:#3CB878;
font-size: 14px;
font-weight: 400;
}
.checkbox-block:hover {
    color: #01813F;
    text-decoration: underline;
}


button {
    background: rgba(60, 184, 120, 0.8);
    width: 324px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    margin: 10px 60px;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

button:hover {
    background: #01813F;
    transition-duration: 1s;
}

#button {   
    display: none;   
    background-color: #00ff40;   
    width: 50px;   
    height: 50px;   
    text-align: center;   
    border-radius: 4px;   
    margin: 30px;   
    position: fixed;   
    bottom: 30px;   
    right: 30px;   
    transition: background-color .3s;   
    z-index: 1000; 
 } 
 #button:hover {   
    cursor: pointer;   
    background-color: #333; 
 } 
 #button:active {   
    background-color: #555; 
 } 

 #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff; 
 } 

 .create-acc {
     display: none;
 }