p#start {
    position: relative;
    width: 16em;
    text-align: center;
    font-size: 600%;
    font-weight: bold;
    margin: 15% auto;
    color: black;
    opacity: 0;
    text-shadow: -2px -2px 0 #4ee, 2px -2px 0 #4ee, -2px 2px 0 #4ee, 2px 2px #4ee;
    z-index: 1;
    -webkit-animation: intro 5s ease-out;
    animation: intro 5s ease-out;
}

@-webkit-keyframes intro {
    0% {
        -webkit-transform: scale(1); opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1); opacity: 0;
    }
}

@keyframes intro {
    0% {
        -webkit-transform: scale(1); opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1); opacity: 0;
    }
}

#star-wars {
    position: absolute;
    width: 15em;
    height: 50em;
    bottom: 0;
    line-height: 80px;
    /* left: 50%; */
    margin-left: 2em;
    font-size: 550%;
    text-align: justify;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotatex(25deg);
    transform: perspective(300px) rotatex(25deg);
}


h2{
    text-align: center;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.text-space{
   margin-bottom: 80px;
} 

#wall-content {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 30s linear 4s infinite;
    animation: scroll 30s linear 4s infinite;
}

@-webkit-keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -150%;
    }
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}



/* 
.star-wars {
    width: 1200px;
    height: 450px;
    text-align: left;
    line-height: 90px;
    font-size: 70px;
    animation-name: star-wars;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: linear;
    animation-timing-function: linear;
    animation-play-state: linear;
    margin: 0 auto; */
    /* transform-origin: bottom bottom; */

    /* .star-wars p {
        margin-bottom: 90px;
    }

    h1, h2 {
        text-align: center;
        padding-bottom: 90px;
    }

@keyframes star-wars{
  
    0% {

        transform: scale(1, 0.4) translatey(1200px) skewx(-5deg);
    }

    25% {

        transform: scale(1, 0.4) translatey(550px) skewx(-5deg);
    }

    50% {
        transform: scale(0.85, 0.4) translatey(150px) skewx(-5deg);
    }

    75% {
        transform: scale(0.6, 0.3) translatey(0px) skewx(-5deg);
    }

    100% {
        transform: scale(0.55, 0.25) translatey(-300px) skewx(-5deg);
    }} */