.main-table { 
 border: 20px solid #3A4965;   
 width: 1192px;
 height: 736px;
 margin: 40px;
 text-transform: uppercase;
 vertical-align: middle;
 text-align: center;
 font-family: 'arimo', sans-serif;
}


thead { 
    font-weight: bold;
}

.header-plan {
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    height: 60px;
    color: white;
}


.icons {
    text-align: center;
    vertical-align: middle;
    height: 28px;
    width: 24px;
}

.prc-plan {
    font-size: 30px;
    line-height: 40px;
}

.choose-word { 
    color: #484848;
    font-size: 18px;
    border: 2px solid  #E3E3E3;
    width: 313px;
    height: 159px;
    vertical-align: middle;
    text-align: center;
    background: #FAFAFA;
}

.price td{
    position: relative;
    height: 65px;
    width: 280px;
    color:#484848 ;
    border-left: 2px solid #dad7d7;
    border-right: 2px solid #dad7d7;
    vertical-align: middle;
    text-align: center;
    background: #FAFAFA;
}

.text-per-month {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    right: 39px;
    bottom: 12px;
}

.sum {
    font-size: 60px;
    font-weight: 700;
}

.cents {
    font-size: 24px;
    font-weight: 700;
    vertical-align: top;
}

.standart-word {
    vertical-align: middle;
    text-align: center;
    background: #89C331;
}

.ultimate-word {
    vertical-align: middle;
    text-align: center;
    background: #F04A56;
}

.email-word {
    vertical-align: middle;
    text-align: center;
    background: #20807C;
}

.table-body td{
    font-weight: 400;
    height: 38px;
    border-left: 2px solid #c0c0c096;
    border-right: 2px solid #c0c0c096;
    vertical-align: middle;
}

col {
    width: 290px;
    border: none;
}


.button-1 {
padding-top: 7px;
font-weight: 700;
width: 192px;
height: 52px;
border:none;
font-size: 16px;
text-transform: uppercase;
background: #484848;
color: white;
border: none;
border-bottom: 10px solid #404040;
border-radius:5px;
}

.button-2 {
padding-top: 7px;
font-weight: 700;
width: 192px;
height: 52px;
background: #89C331;
border:none;
font-size: 16px;
text-transform: uppercase;
color:white;
border: none;
border-bottom: 10px solid #79B027;
border-radius:5px;
}



.button-3 {
padding-top: 7px;
font-weight: 700;
 width: 192px;
height: 52px;  
background: #F04A56;
border: none;
border-bottom: 10px solid #DF3A46;
border-radius:5px;
font-size: 16px;
text-transform: uppercase;
color:white;
}

.button-4 {
padding-top: 7px;
font-weight: 700;
width: 192px;
height: 52px;  
background: #20807C;
border:none;
font-size: 16px;
text-transform: uppercase;
color:white;
border: none;
border-bottom: 10px solid #16736F;
border-radius:5px;
}

.bg-light-grey {
    background: #F2F2F2;;
}

.bg-dark-grey {
    background: #E3E3E3;
}

.user-bg {
    background: #c4c4c47a;
}
