/* .main-table { 
    border: 20px solid #3A4965;   
    width: 1192px;
    height: 736px;
    margin: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-family: 'arimo', sans-serif;
   } */
   
   .header-table tr{
    border: none;
    border-top: 10px solid#3A4965;
    border-bottom: 10px solid #3A4965;
    width: 1192px;
    height: 115px;
    margin: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-family: 'arimo', sans-serif;
   }

   .icons {
 
    height: 35px;
    width: 29px;
}

.choose-word {
    font-size: 14px;
}

.logo {
    width: 211px;
    vertical-align: middle;
    text-align: center;
}



.prc-plan {
    font-size: 20px;
}
 
.header-menu {
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
}

.bg-dark {
    background: #e3e3e3;
    width: 170px;
    vertical-align: middle;
    text-align: center;
}

.bg-light {
    vertical-align: middle;
    text-align: center;
    width: 170px;
    background: #f2f2f2;
}