body {
    width: 1280px;
    margin-left: 100px;
    margin-right: 100px;
    
}
span { color: aquamarine;
}
.ra {
    color: black;
}

h1 {
    font-size: 50px;
    margin: 20px 20px;
}

a {
    text-decoration: none;
}

.word-ramda + td {
    background-color: #222F3A;
}


td {
    border-left: 1px solid white;
    padding: 20px 8px;
    background-color: #35444F;
    font-size: 20px;
    color: white;
    width: 1280px;
    text-align:center;
    }
    .last {
        text-align:left;
        padding-left: 20px;
    }
    .header-container {
        display: inline-block;
        display: flex;
    }

    .word-why {
        background-color: #DBDBDB;
        width: 250px;
    }


    .aside-container {
        display: inline-block;
        display: flex;
        padding-top: 20px;
    }
    .questions-list {
        border: 1px solid black;
        width: 260px;
        height: 260px;
        margin-left: 20px;
        font-size: 25px;
        padding-left: 20px;
        padding-top: 10px;
       line-height: 50px;
       color: #495863;
    }

    .ramda-img {
        margin-left: 50px;
        border: 1px solid black;
        width: 940px;
        height: 500px;
        padding-top: 150px;
        padding-left: 320px;
        
    }
    img {
        width: 340px;
        height: 380px;
    }
  .main-text {
      font-size: 18px;
      margin-left: 305px;
      margin-top: 37px;
      margin-bottom: 100px;
      color: #2C2C2C;;
  }
 .p-space {
     padding-bottom: 34px;
 }

 .text-footer {
     display: inline-block;
     display: flex;
     justify-content:space-evenly;
    border-left: 1px solid white;
    padding: 20px 8px;
    background-color: #63696E;
    padding-left: 40px;
    text-align: center;
 }
 footer {
     font-size: 24px;
     margin-bottom: 30px;
 }
.span2 {
    color: hsl(167, 45%, 51%);
    border-bottom: 1px solid hsl(167, 45%, 51%);
}
.right {
    margin-left: 50px;
}