body {
    max-width: 1920px;
    max-width: 1444px;
    margin-left: 2px;
}
.header {
    width: 1600px;
    height: 1012px;
    background-image: url('../img/Sections-background/section-1\(header\).jpg');
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header-menu {
    float: left;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.logo-header {
    position: relative;
    left: 150px;
    bottom: 27px;
    top: 26px;
    width: 50px;
}

h1 {

 color: rgba(255, 255, 255, 1);
 position: absolute;
 font-size: 40px;
 bottom: 15px;
 left: 13px;
}

.the-ham {
    
}

.the {
    margin: -25px 10px 1px 215px;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
   font-weight: 400; 
   width: 200px;
}

.ham {
    color: rgba(24, 207, 171, 1);
    font-weight: 700;
}

.header-nav {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: -31px 380px 50px 523px;
}

.header-nav li{
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    display: inline-block;
    height: 51px;
   
    vertical-align: middle;
}

.svg-inline--fa {
    margin-top: -3px;
    width: 21px;
    height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.svg-inline--fa:hover {
    color: rgba(24, 207, 171, 1);
}

.header-nav li:hover {
    cursor: pointer;
    color: rgba(24, 207, 171, 1);
    border-bottom: 2px solid rgba(24, 207, 171, 1);
}

h2 {
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 379px;
    text-transform: uppercase;
}


h3 {
    font-size: 78px;
    color: white;
    text-align: center;
    padding-top: 22px;
    text-transform: uppercase;
}

h4 {
 font-size: 34px;
 color: rgba(212, 212, 212, 1);
text-align: center;
padding-top: 22px;
}

.header-btns {
    padding-top: 134px;
    text-align: center;
}

.explore {
    border: none;
    border-top: 5px solid white;
    border-radius: 5px;
    font-size: 15px;
    vertical-align: center;
    background: rgba(24, 207, 171, 1);
    color: white;
    width: 169px;
    height: 63px;   
    font-weight: 700;
    margin-right: 26px;                       
}

.purchase {
    font-weight: 700;
    border: none;
    border-top: 5px solid white;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background: rgba(0, 203, 246, 1);
    width: 169px;
    height: 63px;
}

.main {
    width: 1600px;
    height: 5950px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.advantages {
    border: none;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
}

.advantages td {
    width: 400px;
    height: 320px;
    vertical-align: middle;
    text-align: center;

}

.dark {
    background: rgba(28, 42, 51, 1);
}

.light {
    background: rgba(24, 207, 171, 1);
}

.finger {
    margin-left: 10px;
    margin-top: 10px;
}

.dark-text {
    padding-top: 25px;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 1);
}

.light-text {
    padding-top: 58px;
    text-transform: uppercase;
    color: white;
}

h5 {
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    padding-top: 83px;
    padding-bottom: 24px;
    color: rgba(78, 78, 78, 1);
}

.green-line {
    border: none;
    height: 1px;
    width: 79px;
    background: rgba(24, 207, 171, 1);
}

.green-linve {
    margin-top: -5px;
    margin-left: 775px;
    border: none;
    height: 1px;
    width: 79px;
    background: rgba(24, 207, 171, 1);
}

.table-our-services {
    width: 1160px;
    margin-top: 69px;
    margin-left: 220px;
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
   font-family: 'Montserrat', sans-serif;
}



.graphic-design {
    display: inline-block;
    background: rgba(248, 252, 254, 1);
    line-height: 75px;
    text-align: center;       
    width: 183px;
    height: 72px;
}

.graphic-design.active-td {
    background: rgba(24, 207, 171, 1);
    color: white;
    position: relative;
}

.our-services td{
    border: 2px solid transparent;
}


.our-services td:hover {
    border-color: rgba(24, 207, 171, 1);
    cursor: pointer;
}


.graphic-design.active-td::after {
    position: absolute;
    content:"";
    top: 71px;
    right: 80px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 15px solid  rgba(24, 207, 171, 1);;
}

.our-services-content {
    width: 1160px;
    margin-bottom: 300px;
}

.services-photo-text {
    display: none;
    position: absolute;
    margin-top: 30px;
   margin-left: 220px;
    width: 1160px;
    height: 136px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgba(119, 119, 119, 1);
    line-height: 24px;
    font-size: 13px;
}

.services-photo-text.active {
    display: block;
}

.our-services-content img{
    width: 192px;
    height: 139px;
   padding-right: 20px;
    float: left;;
}

.everything-is {
    background-image: url('../img/Sections-background/handPhoen.png');
    width: 1600px;
    height: 476px;
    text-align: center;
}



h6 {
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 126px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 1);
    font-size: 40px;
}

.evetythingIs-bottom-text {
    color: rgba(216, 216, 216, 1);
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.green-purchase { 
font-family: 'Montserrat', sans-serif;
font-size: 15px;
font-weight: 700;
border: none;
border-top: 5px solid white;
border-radius: 5px;
font-size: 15px;
color: white;
background: rgba(24, 207, 171, 1);
width: 169px;
height: 63px;
font-weight: 700;
text-transform: uppercase;
margin-top: 67px;
}

.our-amazing {
    background: rgba(233, 237, 239, 1);
    height: 1212px;

}

.our-amazing-photo {
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

.our-amazing-photo li {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid rgba(218, 218, 218, 1);
    padding: 14px 18px;
    margin-right: 0px;
    margin-left: 0px;
}

.our-amazing-photo li:hover {
    border: 2px solid #18CFAB;
    cursor: pointer;
}



.creative-design {
    display: grid;
    grid-template-columns:  repeat(4, 280px);
    justify-content: center;
    margin-top: 75px;
    position: relative;
    grid-template-rows: min-content;
}


.text-creative-d {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 1);

}

.text-creative-web-design {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgba(138, 138, 138, 1);

}

.creative-d-call-to-action {
    border-top: 3px solid rgba(24, 207, 171, 1);
    display: none;
    flex-direction: column;
    padding-top: 56px;
    line-height: 30px;
    position: absolute;
    justify-content: space-between;   
    text-align: center;
    background: rgba(233, 237, 239, 1);
    width: 286px;
    height: 150px;
}

.images-create img{
    width: 285px;
    height: 206px;
}

.images-create:hover .creative-d-call-to-action {
    display: block;
}


.load-more {
    margin-top: 50px;
    margin-left: 700px;
    font-size: 16px;
    background: rgba(24, 207, 171, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 44px;
}

.svg-plus {
    width: 18px;
    height: 19px;
    margin-right: 15px;
}


.amazing-menu.active {
    color: rgba(24, 207, 171, 1);;
    border: 2px solid rgba(24, 207, 171, 1);
}


.breaking-news {
    display: grid;
    grid-template: repeat(3, 208px) / repeat(4, 280px);
    justify-content: center;
    margin-top: 84px;
    line-height: 30px;
    grid-row-gap: 121px;
}
 
.img-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgba(113, 113, 113, 1);

}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 70px;
    height: 65px;
    position: absolute;
    left: 193px;
    bottom: 123px;
    line-height: 30px;
    background: rgba(32, 62, 56, 1);
    color: #FFFFFF;
}

.peshka {
    text-align: center;
    padding-top: 5px;
}

.amazing-text {
    margin-top: -10px;
    width: 253px;
    padding-top: 7px;
    padding-left: 15px;
}

.under-text {
    color: rgba(119, 119, 119, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.img-container:hover .label {
    background: rgba(24, 207, 171, 1);
    color: white
}

.img-container:hover .amazing-text {
    color:  rgba(24, 207, 171, 1);
    background: rgba(248, 252, 254, 1);
}

.remove.images-create {
    display: none;
}


.images-add img{
    width: 200px;
    height: 120px;
    display: none;
}


.comments {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url('../img/Sections-background/555.png');
    height: 853px;
}


.h7 {
    padding-bottom: 29px;
    line-height: 40px;
    padding-top: 98px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
}

.lapki {
    margin-top: 48px;
}

.about-ham {
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    text-align: center;
    color: rgba(187, 187, 187, 1);
    padding-top: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
}

.names {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:rgba(24, 207, 171, 1);
    margin-top: 27px;
    line-height: 27px;
    margin-bottom: 30px;
}

.profession {
    text-transform: none;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(192, 192, 192);

}

.carousel .activeElem {
    transition: 1s;
    translate:10px ;
    transform: translate(0px, -20px);
}

.persons-info {
    margin-bottom: 40px;
}

.persons.activePerson {
    display: block;
}

.persons {
    display: none;
}

.imgWho {
    width: 77px;
    height: 72px;
}

.imgWho:hover {
    transition: 1s;
    transform: translate(0px, -20px);
}

.right {    
    bottom: 20px;
    position: relative;
    background-color: inherit;
    width: 33px;   
    height: 34px;   
    text-align: center;   
     border: 1px solid rgba(187, 187, 187, 1);
    margin: 20px;
    transition: background-color .3s;  
 } 



.left {   
    bottom: 20px;
    position: relative;
    background-color: inherit;
    width: 33px;   
    height: 34px;   
    text-align: center;   
     border: 1px solid rgba(187, 187, 187, 1);
    margin: 20px;
    transition: background-color .3s;   
 } 
 .left:hover {   
    cursor: pointer;   
    background-color: rgba(24, 207, 171, 1);
    transition-duration: 1s;
 } 

 .right:hover {   
     color: white;
    cursor: pointer;   
    background-color: rgba(24, 207, 171, 1);
    transition-duration: 1s;
 } 


 
.images-gallerey {
    margin-top: 50px;
    display: flex;
    height: 950px;
    justify-content: center;
}

.image-block {
    width: 400px;
}

.image-block img{
    margin: 10px;
    text-align: center;
    color: #353A3D;
    font-size: 18px;
    
}

.hams-bot {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgb(30, 122, 46);
}

footer {
    width: 1600px;
    color: rgb(158, 157, 157);
    padding-top: 45px;
    line-height: 35px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    background: rgba(34, 53, 63, 1);
    height: 91px;
}